html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-y: auto;
}

/* Map styles. */
#map-holder {
  height: 100%;
  width: 80%;
}

#geojson-output {
  position:absolute;
  top:150px;
  right:45px;
  margin:auto;
  height:20%;
  width: 20%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  resize: none;
  background-color: #F1F1F1;
  display: block;
}
#download-link {
  position: absolute;
  top:10px;
  right:10px;
  z-index:100;
}
#ratingSystem {
    position: absolute;
    top: 400px;
    right: 40px;
    height: 250px;
    width: 400px;
    z-index: 100;
}
#removeAllLines {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 100;
}

#output-toggle {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 100;
}


.z-depth-1 {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
